.login{
    display: grid;
    place-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.login>img{
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login>form{
    display: flex;
    flex-direction: column;
    
}

.login>form>input{

    margin-bottom: 10px;
    height: 50px;
    border-radius: 30px;
    outline: none;
    width: 365px;
    border: none;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    padding-left: 20px;
}

.login>form>button{
    color: white;
    
   
    border-radius: 30px;
    font-size: 20px;
    border: none;
    height: 50px;
    cursor: pointer;
    
    
    animation: animatedgradient 3s ease infinite alternate;
    background-image: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
	background-size: 300% 300%;
}




/* .exampleClass {
	width: 120px;
	border-radius: 6px;
	height: 44px;
	background-image: linear-gradient(270deg, hsl(109, 0%, 12%), hsl(109, 0%, 20%), hsl(109, 0%, 20%), hsl(109, 0%, 12%));
	background-size: 400% 100%;
	animation: loading 8s ease-in-out infinite;
} */
@keyframes animatedgradient{
0% {
    background-position: 0 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0 50%;
}
}

@keyframes loading {
	from {
		background-position: 200% 0;
	}
    to {
		background-position: -200% 0;
    }
}


.login>form>input:hover{
    background-color:lightblue;
}

.login__register{
    color:#0177b7;
    cursor: pointer;
}

.login>p{
    margin-top:20px;
}
@media screen and (max-width: 768px)  {
    .login{
        display:grid;

        background-color: #f3f2ef;
    }
    .login>form{
        
    }
    .login>form>input{
        width: 300px;
        height: 45px;
    }
}